<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Blog Ricardo Yanomane</title>
</head>
<body>
    <div>
        <h1>
            <a href="">Blog Django Ricardo Yanomane</a>
        </h1>
    </div>

    <div>
        <p>publicado: 18/01/2021, 18:36</p>
        <h2>
            <a href="">Meu primeiro post</a>
        </h2>
    </div>

    <div>
        <p>publicado: 18/01/2021, 18:36</p>
        <h2>
            <a href="">Meu segundo post</a>
        </h2>
    </div>
    
</body>
</html>